*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
    transition: all .2s linear;
}
 
 
body{
    font-family: 'poppins', sans-serif;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: .5s ease;
}
header .brand{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
header .navebar{
    position: relative;
}
header .navebar .navbar-item a{
position: relative;
color: #fff;
font-size: 1rem;
font-weight: 500;
margin-left: 30px;
padding-bottom: 5px;
transition: .3s ease;
}
header .navebar .navbar-item a::before{
 content: '';
 position: absolute;
 width: 0;
 height: 2px;
 background: #fff;
 bottom: 0;
left: 0;
border-radius: 20px;
transition: .4s ease;
}

header .navebar .navbar-item a:hover::before{
    width: 100%;
}
section{
    padding: 100px 200px;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2696e9;
}
.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home::before{
z-index: 777;
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(3, 96, 251, .3);
}
.home .content{
    color: #fff;
    z-index: 888;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
   display: block;
}
.home .content h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}
.home .content span{
    font-size: 1.2;
    font-weight: 600;
}
.home .content p{
    margin-bottom: 65px;
    line-height: 1.5;
}
.home .content a{
    padding: 15px 35px;
    background-color: #fff;
    color: #1680ac;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 3px;
}
.home .icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: .5s ease;
}
.home .icons a{
 color: #fff;
 font-size: 1.3rem;
 transition: .3s ease;
}
.home .icons a:not(:last-child){
  margin-bottom: 30px;
   }
   .home .icons a:hover{
   transform: scale(1.3);
     }
.slider-navgation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80deg);
    margin-bottom: 12px;
}
.nav-btn{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%; 
    cursor: pointer;
    box-shadow: 0 0 5px  rgba(0, 0, 0, .5);
}
.nav-btn:not(:last-child){
    margin-right: 20px;
}
.nav-btn:hover{
    transform: scale(1.2);
}
.nav-btn.active{
    background-color: #2696e9;
}
#menue-bar{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
   
    z-index: 888;
}
.slider-video{
    position: absolute;
    width:100% ;
    clip-path: circle(0% at 0 50%);
}
.slider-video.active{
   
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}


     @media(max-width:1040px){
header{
 
    padding: 15px 20px;
 
}
section{

    padding: 100px 20px;
}
.icons{
    right: 15px;
}
 header .navebar{
   display: none;
}
header .navebar.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, .5);
}
header .navebar .navbar-item a{
 
 color: #222;
 font-size: 1rem;
 margin: 20px;
}


header .navebar .navbar-item{
 background-color: #fff;
 width: 600px;
 margin: 20px;
 padding: 40px;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 5px;
 box-shadow: 0 5px 25px  rgba(0, 0, 0, .5);
 }

 header .navebar .navbar-item a:hover::before{
   background-color: #222;
}

#menue-bar{
 
    display: block;
}
 }
  